<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CodeCademy Suite" thread-count="2" parallel="classes">
  <test name="TestChrome">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="testPack.TNGVerifyLoginAndMyGoalSettingFunctionality"/>
      <class name="testPack.TNGVerifyAddWorkSpaceAndSearchFunction"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="TestEdge">
    <parameter name="browser" value="Edge"></parameter>
    <classes>
      <class name="testPack.TNGVerifyLoginAndMyGoalSettingFunctionality"/>
      <class name="testPack.TNGVerifyAddWorkSpaceAndSearchFunction"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- CodeCademy Suite -->

